.side {
    position: absolute;
    margin: 10px 30px;
    background-color: #2Dc5c9;
    color: #ffffff;

    width: 100px;
    height: 620px;

    border-radius: 24px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

    text-align: center;
}

.size .logo{
    position: absolute;
    width: 73px;
    height: 102px;
    
    margin-top: 39.67px;
}

.side .logo h1{
    font-family: 'Baloo Bhaina 2';
    font-size: 64px;
    line-height: 102px;
}

.side .icons{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.size .exit{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column
}