.question .content-wrapper .title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 25px;

    margin-bottom: 30px;
}


.question .content-wrapper .botoes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.question .content-wrapper .botoes button{
    width: 172px;
    height: 42px;

    margin:  10px;
    padding: 10px;
    
    border: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    cursor: pointer;
}

.question .content-wrapper .botoes button:hover{
    background-color: #2dc4c950;
}

.question .content-wrapper .botoes button.active{
    background: #2DC5C9;
    color: #ffffff;
}

