.question .content-wrapper .title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.question .content-wrapper .check input{
    margin: auto 25px;
    width: 25px;
    height: 25px;
}

.question .content-wrapper .check{
    margin: 15px 30%;

    width: 520px;
    height: 83px;

  
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
}